<!DOCTYPE html>

<html>
    <head>
       {{>head}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This site was created by Burhanuddin Jariwala. It uses the data from mapbox.com and darksky.net
            </p>
            <img class="potrait" src="./img/me.png">
        </div>
        {{>footer}}
    </body>

</html>