<!DOCTYPE html>

<html>
    <head>
       {{>head}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="potrait" src="./img/burhan.png">
        </div>
        {{>footer}}
    </body>

</html>